<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title 4oh4 not found
body(style="text-align:center; font-family: courier new;")
  h1
    |4oh4 not found
  div
    |start at the
    a(href="/")=" root"