extends base.pug

block content

    div
        div(class="jumbotron")
            h2="a tale of seeker"
            p(class="lead")="thoughts. experiments. fails. more."
            !=content

    div(class="row marketing")
        div(class="col-lg-12")
            each post,cnt in data.posts
                div
                    if cnt
                      hr
                    a(href=post.link)
                          h4
                            !=post.title
                            span(class="text-muted" style="padding-left: 10px; font-size: 15px; font-style:italic")=post.date
